<p>main-nav works!</p>



<p>main-nav works!</p>
<mat-sidebar-container class="sidebar-container">
<mat-sidenav
#drawer
class="sidenav"
fixedInViewport="true"
[attr.role]="isHandset ? 'dialog' : 'navigation'"
[mode]="(isHandset | async) !.matches ? 'over' : 'side'"
[opened] ="!(isHandset | async) !.matches">
<mat-toolbar color="primary">Home</mat-toolbar>
<mat-nav-list>
    <a mat-list-item href="#">Quotes</a>
    <a mat-list-item href="#">New Quotes</a>
    <a mat-list-item href="#">Message</a>
    </mat-nav-list>
    </mat-sidenav>
<mat-sidenav-content>
    <mat-toolbar color="primary">
        <button 
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngif="(isHandset | async)!.matches">
        <mat-icon aria-label="side nav toggle icon">Home</mat-icon>
        </button>
    <span>Welcome to Quotes daily</span>
    <ng-content></ng-content>
    </mat-toolbar>
    </mat-sidenav-content>
    </mat-sidebar-container>