<!-- <p>quote works!</p> -->
<div>
    
    <!-- <hr> -->
    <h1 style="margin-left:3%">Added Quotes</h1>
    <ul>
        <br>
      <div *ngFor='let quote of quotes;let i = index'>
        {{quote.name}}
        <br>
        <button (click)='toggleDetails(i)'>More</button>
        <br>
        <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'completeGoal($event,i)'></app-quote-detail>
      </div>
    
    </ul>
    <p *ngIf='quotes.length > 5'>You have too many goals</p>
</div>


  