<!-- <p>quote-detail works!</p> -->
<p>
    {{quote.description}}
    <!-- <button (click)= 'quoteComplete(true)'>Like</button> -->
    <br>
     <button (click)= 'goalDelete(true)'  class="btn btn-outline-danger" style="display:flex;">Delete Goal</button>
     <button (click)= 'goalUpvote(true)'  class="btn btn-success"style="display:flex;">Upvote</button>
     <button (click)= 'goalDownvote(true)'  class="btn btn-danger"style="display:flex;">Downvote</button>

    </p>
<!-- <p>This goal will be complete in {{quote.completeDate|dateCount}} days</p> -->
  
<p> {{quote.completeDate|timeAgo}}</p>